.game {
    margin: 20px;
    border: 2px solid blue;
}

.control {
    margin: 20px;
    border: 2px solid blue;
}

.chat {
    margin: 20px;
    border: 2px solid blue;
}

.messages {
  margin: 0;
  padding: 0;
  height: 250px;
  overflow-y: scroll;
}

body {
    font: 16px "Century Gothic", Futura, sans-serif;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
    
  .square {
    background: #fff;
    color: #0000AA;
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .word-input {
    margin-left: 20px;
  }

  .word-input:after {
      clear: both;
      content: "";
      display: table;
  }
  
#wordlist {
    height: 500px;
    overflow-y: scroll;
}

.messages {
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50;
    z-index: 1000;
}

.modal-content {
    position: fixed;
    border-radius: 5;
    width: 50%;
    height: 50%;
    top: 50px;
    right: 0px;
    background-color: white;
    padding: 30px;    
    overflow-y: scroll;
    z-index: 10000;
}

.playerscoreboard {
  float: left;
  padding: 50;
  overflow-y: scroll;
}


.wordscore {
  display: inline;
  font-weight: bold;
  color: red;
}