<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boggle Client v0.1</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1> Join/Create Game </h1>
    <input type="text" id="usernameField" placeholder="Username"/>
    <form id="createform" action="" method="POST">
      <input type="text" id="creategameid" placeholder="Game ID"/>
      <input type="submit" value="Create!">
    </form>

    <form id="joinform" action="" method="POST">
      <input type="text" id="joingameid" placeholder="Game ID"/>
      <input type="submit" value="Join!">
    </form>

    <form id="genform" action="" method="POST">
        <input type="submit" value="Start New Round">
    </form>

    <form id="endform" action="" method="POST">
            <input type="submit" value="End Round">
    </form>

    <form id="solveform" action="" method="POST">
      <input type="submit" value="Solve!">
    </form>

    <form id="rotate" action="" method="POST">
        <input type="submit" value="Rotate Board">
    </form>

    <div>
        <div id="leftcontainer">
            <div id="board"></div>
        </div>
        <div id="middlecontainer">
            <div id="wordinput">
                <input type="text" id="writeword" placeholder="Found Word" />
                <ul id="wordlist">                    
                </ul>
            </div>
        </div>
        <div id="rightcontainer">
            <div id ="log"></div>
        </div>
    </div>
   



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
      
  </body>
</html>